[submodule "bundle/colorschemes"]
	path = bundle/colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "bundle/rainbow_parentheses"]
	path = bundle/rainbow_parentheses
	url = https://github.com/kien/rainbow_parentheses.vim
[submodule "bundle/jedi-vim"]
	path = bundle/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "bundle/vim-arduino-syntax"]
	path = bundle/vim-arduino-syntax
	url = https://github.com/sudar/vim-arduino-syntax.git
[submodule "bundle/vim-latex"]
	path = bundle/vim-latex
	url = https://github.com/vim-latex/vim-latex.git
[submodule "bundle/SimpylFold"]
	path = bundle/SimpylFold
	url = https://github.com/tmhedberg/SimpylFold.git
